*{
    margin:0;
    padding:0;
    background-color: rgb(255, 255, 255);
}
/* .head{
    width:100%;
    height:80px;
    background-color: #fae9ea;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;  
} */
/* .head img {
    width:120px;
    -webkit-user-drag: none;  
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
} */
.shops-1{
    font-weight: 350;
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 40px;
    color: rgb(0, 0, 0); 
    text-decoration-color: #393232;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.shops-2{
    font-weight: 350;
    font-size: 20px;
    color: rgb(105, 103, 101); 
    text-decoration-color: #393232;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.my-name {
    text-align: center;
    padding: 15px 0px 0px 0px;
}
.Sec {
    display: flex;
    width:80%;
    height: auto;
    margin: auto;
}
.subSec {
    width:40%;
    height:fit-content;
   /* border: 2px solid red; */
    margin:10px auto;
}
.op {
    width: 70%;
    height: 65px;
    /* background: linear-gradient(90deg, #3f49a3 7.59%, rgba(49, 126, 198, 0.762) 85.67%);; */
    margin:40px auto;
    border-radius: 10px;
    border-color: rgb(18, 15, 15);
    font-weight: 500;
    border: 2px solid rgb(21, 20, 20);
    font-size: large;
    color: rgb(10, 10, 10);  
}
.title{
    padding: 5px;
}
.in{
    text-align: center;
    align-items: center;
    padding-top: 4%;
    display: flex;
    justify-content: center;
}
.up{
    width: 60%;
    margin: auto;  
    height: 80px;
    align-items: center;
    text-align: center;
    margin: 40px auto;
    justify-content: center;
    display: flex;
}
.up button{
    background-color:#393232;
    background: linear-gradient(90deg, #5360dc 7.59%, rgba(63, 119, 172, 0.762) 85.67%);
    padding: 20px 45px 20px 45px;   
    border-radius: 10px;
    font-size: medium;
    font-weight: 700;
    border: none;
    border-radius: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.wrap{
    width:100%;
    height: 100vh; 
    margin: auto;
}
/* .op img{
    width: 45px;   
} */

/* for phone*/
@media only screen and (max-width: 700px) {
    *{
     padding: 0px;
     margin: 0px;
    }
     .Sec{
         display: block;
         width: 100%;
     }
     .subSec{
         width: 100%;
         height: none;
     }
     .wrap{
         height:100%;
         background-color: none;
     }
     .up button{
         width: 100%;
         font-size: 14px;
     }
   
   }
 