/* *{
    margin:0;
    padding:0;
    background-color: rgb(255, 255, 255);
} */
.wrap{
    width:100%;
    height: 100vh; 
    margin: auto;
}
.Sec {
    display: flex;
    width:80%;
    height: auto;
    margin: auto;
}
.subSec {
    width:40%;
    height: auto;
    margin:10px auto;
}
.op {
    width: 70%;
    height:65px;
    /* background: linear-gradient(90deg, #3f49a3 7.59%, rgba(49, 126, 198, 0.762) 85.67%);; */
    margin:40px auto;
    border-radius: 10px;
    border-color: rgb(18, 15, 15);
    font-weight: 500;
    border: 2px solid rgb(21, 20, 20);
    font-size: large;
    color: rgb(10, 10, 10);  
}
.in{
    text-align: center;
    align-items: center;
    padding-top: 4%;
    display: flex;
    justify-content: center;
}
.title{
    padding: 5px;
}
.button {
    display: inline-block;
    padding: 20px;
    background-color: #007bff;
    color: #ffffff;
    padding-right: 30px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
        justify-content: space-between;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
/* for phone*/
@media only screen and (max-width: 700px) {
    *{
     padding: 0px;
     margin: 0px;
    }
     .Sec{
         display: block;
         width: 100%;
     }
     .subSec{
         width: 100%;
         height: none;
     }
     .wrap{
         height:100%;
         background-color: none;
     }
     .up button{
         width: 100%;
         font-size: 14px;
     }
   
   }
 