/* styles.css */
body {
  font-family: 'Arial', sans-serif;
}

.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

.suff-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.suff-card {
  border: 1px solid #ccc;
  padding: 10px;
  max-width: 300px;
}

.suff-card img {
  width: 100%;
  height: auto;
}

.suff-detail img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.review-list {
  margin-top: 20px;
}

.review-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
























/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
